# Class Activity 
The goal of this activity is the practive implementing SVM and testing the preditions of Ordiary Least Squares and SVM. 

To complete this activity you will need to access the The module publically available at [https://scratch.mit.edu/projects/603093411/](https://scratch.mit.edu/projects/603093411/)

Normally participants are then asked to provide the participant ID given to them in a google forum to collect summary data points such as ethnicity, sex, age, and familiarity with technology. The responses for this form can be found at [Drive Link](https://docs.google.com/spreadsheets/d/11fNLn7-7c9rlHEPKpTqid2YDDLQVBW_QTY4EYnlaYXQ/edit?usp=sharing) 
The Qestionaires are located at [Link](https://docs.google.com/forms/d/e/1FAIpQLSeYyGLxR2mH17MzsrR1sm4dumOfsZECpoG1EHJ0FHw2-jYiwA/viewform?usp=sf_link) and [Link](https://docs.google.com/forms/d/e/1FAIpQLScREfhTiPqMwQLZ-XsUYUHF3L7s-LemZivaJv6_3uhFI8_K6Q/viewform?usp=sf_link)

You will need to load the 'reaction_time_cleaned.xlsx' and navigate to the second sheet. The information there can be updated to match one or more rounds of any of the testing methodologies. 

First, you will use a linearlization of the data to predict your reaction times based on the other fields. 
## Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load in the data
df = pd.read_excel('reaction_time_cleaned.xlsx')
test = pd.read_excel('reaction_time_cleaned.xlsx', sheet_name = 'Class Activity')
#Correct for outliers
df = df[np.abs(df.time - df.time.mean()) <= (3*df.time.std())]
df.shape

(299, 9)

In [3]:
#Imports Stats packages
import statsmodels.api as smf
from statsmodels.formula.api import ols

In [4]:
#OLS Model
method = ols(formula='time ~ sex + ethnicity + age + method', data=df).fit()

In [5]:
#Predict the reaction time based on the model
method.predict(test)

0    0.296813
dtype: float64

In [6]:
#Real times
test['time']

0    0.298999
Name: time, dtype: float64

In [7]:
#Mean of the difference as a percent error
n = abs((method.predict(test) - test['time'])/method.predict(test)) * 100
print( round(n.mean(),2), '% Error')

0.74 % Error

### How accurate was the model? 

### What information did you leave out of your model, if any? Why?


# Second, Test the Classification
Use the test data set to see if a SVM can determine the method of testing used for the sample.

First, load the data and create the SVM model on the base data.

In [8]:
#Split the data into inputs and outputs
x = df.drop(columns = ['method', 'user_id'])
y = df['method']

In [9]:
#Generate a test and train set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [10]:
import category_encoders as ce
# import category encoders

In [11]:
# encode remaining variables with one-hot encoding 
 
encoder = ce.OneHotEncoder() 
 
X_train = encoder.fit_transform(X_train) 
X_test = encoder.transform(X_test) 
X_train.shape

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

(209, 20)

In [12]:
cols = X_train.columns
print(cols)

Index(['sex_1', 'sex_2', 'gender_1', 'gender_2', 'ethnicity_1', 'ethnicity_2',
       'ethnicity_3', 'ethnicity_4', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'tech_level', 'round_1', 'round_2', 'round_3', 'round_4',
       'round_5', 'time'],
      dtype='object')

In [13]:
#Scalar Transformation
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [14]:
#Append the column names back to the transformed data
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [15]:
#Using SVC method of svm class to use Support Vector Machine Algorithm
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

Repeat the process of scaling and encoding with the test data. 
Step one is to add the test data to the larger dataset.

In [16]:
test

,sex,gender,ethnicity,age,tech_level,user_id,method,round,time
0,Male,Male,Black or African American,15-24,10,4973,Touchscreen,Round 1,0.298999

In [17]:
df = df.append(test)
df.iloc[-1:]

,sex,gender,ethnicity,age,tech_level,user_id,method,round,time
0,Male,Male,Black or African American,15-24,10,4973,Touchscreen,Round 1,0.298999

In [18]:
#Split the data into inputs and outputs
x = df.drop(columns = ['method', 'user_id'])
y = df['method']

In [19]:
# encode remaining variables with one-hot encoding 
encoder = ce.OneHotEncoder() 
 
x = encoder.fit_transform(x) 
x.shape

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

(300, 20)

In [20]:
x_cols = x.columns
print(x_cols)

Index(['sex_1', 'sex_2', 'gender_1', 'gender_2', 'ethnicity_1', 'ethnicity_2',
       'ethnicity_3', 'ethnicity_4', 'age_1', 'age_2', 'age_3', 'age_4',
       'age_5', 'tech_level', 'round_1', 'round_2', 'round_3', 'round_4',
       'round_5', 'time'],
      dtype='object')

In [21]:
x = scaler.fit_transform(x)
x = pd.DataFrame(x, columns=[x_cols])

In [22]:
test

,sex,gender,ethnicity,age,tech_level,user_id,method,round,time
0,Male,Male,Black or African American,15-24,10,4973,Touchscreen,Round 1,0.298999

In [23]:
x.iloc[-1:]

,sex_1,sex_2,gender_1,gender_2,ethnicity_1,ethnicity_2,ethnicity_3,ethnicity_4,age_1,age_2,age_3,age_4,age_5,tech_level,round_1,round_2,round_3,round_4,round_5,time
299,1.013423,-1.013423,1.013423,-1.013423,4.213075,-0.572218,-0.733799,-0.733799,1.372813,-0.494786,-0.221249,-0.592749,-0.420084,0.737926,2.021075,-0.505203,-0.494786,-0.505203,-0.5,-0.625447

use the Test set on the fitted SVM

In [24]:
classifier.predict(x.iloc[-1:])

array(['Spacebar'], dtype=object)

## Was the classifier correct? Why or Why not?
What could have influenced the predictive capabilities of the SVM?

Generate a confusion matric or classification report to support your answer.